body {background:black; color:white; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight: 300}
input {background-color:#000000;color:white;font-weight: 500}
#header{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}