div.i {background:black; color:white; font:30pt Courier; font-weight:bold}
div.b {background:black; color:white; font:12pt Palatino}
body {background:black; color:white; font:16pt Palatino;font-weight:bold}
input.t {background-color:#000000;color:white;font-family:monospace;font-size:16pt;font-weight:bold}
input.b {background-color:#000000;color:white;font:12pt Palatino}